
.icon-location:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
